@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Sue+Ellen+Francisco&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --ff-main: "Bebas Neue", sans-serif;
    --ff-badge: "Monoton", sans-serif;
    --ff-stylish: "Sue Ellen Francisco", cursive;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* Logo Design */
.stylish_bold {
    font-size: 3em;
    line-height: 1.1;
    font-weight: bold;
    font-family: var(--ff-badge);
}

.stylish_accent {
    font-size: 3em;
    text-transform: italic;
    color: #00c9a7;
    font-family: var(--ff-stylish);
}
