input[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 20px;
    width: 100%;
    cursor: pointer;
    border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: var(--clr);
    box-shadow: -200px 0 0 200px var(--clr);
    border: none;
}

::-moz-range-track {
    height: 20px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 20px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -200px 0 0 200px dodgerblue;
    box-sizing: border-box;
}

::-ms-thumb {
    background: #fff;
    border: 2px solid #999;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after {
    display: none;
}

::-ms-ticks-before {
    display: none;
}

::-ms-track {
    background: #ddd;
    color: transparent;
    height: 20px;
    border: none;
}

::-ms-tooltip {
    display: none;
}
