@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Sue+Ellen+Francisco&display=swap");
:root {
    --ff-main: "Bebas Neue", sans-serif;
    --ff-badge: "Monoton", sans-serif;
    --ff-stylish: "Sue Ellen Francisco", cursive;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    --clr: #00c9a7;
    --background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@media (prefers-color-scheme: light) {
    :root {
        --clr: #00c9a7;
        --background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

/* Base Style */
body {
    margin: 0;
    font-family: var(--ff-main);
    user-select: none;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    font-weight: bold;
    font-family: var(--ff-badge);
}

.stylish {
    text-transform: italic;
    color: #00c9a7;
    font-family: var(--ff-stylish);
}

/* Layout */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;

    max-width: 950px;
    margin-inline: auto;
}

.cards {
    margin-bottom: auto;
    margin-bottom: 5em;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

@media (min-width: 760px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    border: 1px solid;
    text-align: left;
    margin: 0;
    padding: 10px;
}

.card_title {
    font-size: 1.5em;
}

.card_volume {
    font-size: 1em;
}

.footer {
    padding: 1em;
    justify-self: end;
}
.audio-element {
    border-radius: 0;
}

.controllers {
    margin-bottom: 5px;
}

.controllers input {
    width: 100%;
}

.card_detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
